@font-face {
    font-family: Heebo;
    src: url(./assets/fonts/Heebo-Regular.ttf);
}

@font-face {
    font-family: Heebo-Black;
    src: url(./assets/fonts/Heebo-Black.ttf);
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("./assets/media/background.png");
    background-size: cover;
    font-family: Heebo;
}

#loadingScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#loadingBar {
    width: 40vw;
    height: 10vh;
    font-size: 3vw;
    position: absolute;
    text-align: center;
    top: 40vh;
    right: 30vw;
}

#nav-bar {
    width: 79vw;
    height: 10vh;
    background-color: rgba(112, 48, 160, 0.25);
    position: absolute;
    top: 0;
    right: 21vw;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-items {
    font-family: Heebo-Black;
    z-index: 1;
    font-size: 1.5vw;
    text-align: center;
    display: inline-block;
    padding-top: 2.5vh;
}

.nav-items:hover {
    cursor: pointer;
    color: #2F5597;
}

.activePage {
    color: #002060;
}


#contactInfo {
    height: 100vh;
    width: 21vw;
    visibility: hidden;
    background-color: rgba(112, 48, 160, 0.25);
    position: fixed;
    right: 0vw;
    top: 0vh;
}

#profilePic {
    height: 25vh;
    width: 15vw;
    position: absolute;
    right: 2.5vw;
    top: 15vh;
}

.icons {
    height: 7vh;
    position: fixed;
    right: 1vw;
}

#phoneNumber {
    top: 46vh;
    color: #002060;
    text-decoration: underline;
}

#phoneIcon {
    top: 45vh;
}

#mailModal,
#phoneNumberModal{
    color: #002060;
    text-decoration: underline;
}
#mail {
    top: 56vh;
    color: #002060;
    text-decoration: underline;
}

#mailIcon {
    top: 55vh;
}

#phoneNumberModal:hover,
#mailModal:hover,
#phoneNumber:hover,
#mail:hover {
    cursor: pointer;
}

.contact {
    font-family: Heebo-Black;
    font-size: 1.125vw;
    position: fixed;
    right: 6vw;
}

#location {
    top: 66vh;
}

#locationIcon {
    top: 65vh;
}

.contentPage {
    height: 90vh;
    width: 70vw;
    position: absolute;
    right: 25vw;
    top: 5vh;
    visibility: hidden;
    font-size: 1.5vw;
    padding-top: 10vh;
}

#expriencePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.card {
    display: inline-block;
    width: 20vw;
    height: 85vh;
}

#carouselExampleControls {
    width: 70vw;
}

#aboutMePage,
#armyPage,
.carouselItem {
    background-color: #B4C7E7;
    border-radius: 20px;
    height: 70vh;
    width: 70vw;
}

#aboutMePage,
#armyPage {
    top: 15vh;
    right: 25vw;
    padding-right: 1vw;
}

.itemContent {
    position: absolute;
    width: 60vw;
    padding-right: 10vw;
    padding-top: 5vh;
}

.bold {
    font-weight: bold;
}

.years {
    color: #404040;
}

#mpl,
#project,
#bagrut,
#magshimim,
#idf {
    color: #002060;
    text-decoration: underline;
}

#mpl:hover, #project:hover,
#bagrut:hover,
#magshimim:hover,
#idf:hover {
    cursor: pointer;
}

#pdfView {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(32, 56, 100, 0.7);
    z-index: 2;
}

.iframeView{
    visibility: hidden;
    height: 80vh;
    width: 70vw;
    position: absolute;
    right: 15vw;
    top: 10vh;
    z-index: 2;
}

#closeBtn {
    position: absolute;
    right: 8vw;
    top: 5vh;
    height: 10vh;
}

#closeBtn:hover {
    cursor: pointer;
}

.accordion-body,
.card-text {
    font-size: 1.5vw;
}

#contactBtn {
    visibility: hidden;
}

@media only screen and (min-width: 1200px) {
    #loadingBar {
        font-size: 3vw;
        color: black;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1200) {
    #loadingBar {
        font-size: 3vw;
        color: yellow;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992) {
    #loadingBar {
        font-size: 3vw;
        color: orange;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        overflow: auto;
    }

    #loadingBar {
        font-size: 3vw;
        color: red;
    }

    #expriencePage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        display: inline-block;
        width: 30vw;
        height: 60vh;
    }
    .itemContent {
        position: absolute;
        width: 60vw;
        height: 80vh;
        padding-right: 10vw;
        padding-top: 5vh;
        font-size: 1.5vw;
    }

}


@media only screen and (max-width: 600px) {
    body {
        overflow:auto;
    }

    #loadingBar {
        top: 20vh;
        font-size: 6vh;
        color: brown;
    }

    .card {
        display: block;
        width: 70vw;
        height: 80vh;
    }

    .accordion-body,
    .card-text {
        font-size: 2vh;
    }

    .nav-items {
        font-size: 2vh;
        padding-top: 1vh;
    }

    #profilePic {
        height: 15vh;
        width: 15vw;
        position: absolute;
        right: 2.5vw;
        top: 25vh;
    }

    .icons {
        visibility: hidden;
    }

    #mail,
    #location,
    #phoneNumber {
        visibility: hidden;
    }
    #contactBtn {
        font-size: 1.5vh;
        position: fixed;
        top: 45vh;
        right: 1.5vw;
        background-color: pink;
        border-color: pink;
        color: black;
        width: 17vw;
    }
    .contentPage {
        height: 80vh;
        width: 70vw;
        position: absolute;
        right: 25vw;
        top: 10vh;
        visibility: hidden;
        font-size: 2vh;
        padding-top: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .itemContent {
        position: absolute;
        width: 60vw;
        height: 70vh;
        padding-right: 10vw;
        padding-top: 2.5vh;
        font-size: 1.75vh;
        top: 0vh;
    }
    #expriencePage,
    #studiesPage,
    #volunteeringPage {
        top: 10vh;
    }
    #closeBtn {
        position: absolute;
        right: 8vw;
        top: 3vh;
        height: 5vh;
    }
}